@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import "reset.css";

body {
  font-family: 'Inter', sans-serif;
  color: #0E0E0E;
}

#app {
  height: 100%;
}

.blue {
  background-color: #1890ff;
  color: #fff;
}
