body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

input:focus {
  outline: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0; /*바디태그 margin defalut값 때문에 흰선 발생. 이를 제거 */
  padding: 0;
}
