/* 눈누 프리텐다드 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  border:none;
  box-sizing: border-box;
  line-height: 1.5;
}

li, ol, ul {
  list-style: none;
}

input:focus {
  outline: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
  white-space: nowrap;
}

body {
  font-size: 16px;
  word-break: keep-all;
}

.black-filter {
  filter: brightness(50%);
}

.select-img-effect1 {
  filter: none;
  transform: scale(1.0, 1.0) rotate(5deg) !important;
}

.select-img-effect2 {
  filter: none;
  transform: scale(1.0, 1.0) rotate(-5deg) !important;
}

.select-img-effect3 {
  filter: none;
  transform: scale(1.0, 1.0) rotate(4deg) !important;
}

.select-button {
  background-color: #fff;
  color: #4F4F4F;
}
.select-button-effect {
  background-color: #FA625B;
  color: #fff;
}

.point-font {
  color: #FA625B;
}
