/* 구글폰트 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


/* reset */
* {
  margin: 0;
  padding: 0;
  border:none;
  box-sizing: border-box;
}

li, ol, ul {
  list-style: none;
}

input:focus {
  outline: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: transparent;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #F4F4F4;
  background-size : cover; /* 화면 꽉차게 */
  height: 100vh; /* 전체 높이 설정 */

.select {
  background-color: rgba(65, 45, 44, 0.5);
  color: #fff;
}

.black-filter {
  filter: brightness(50%);
  margin-left: 270px;
  z-index: -1;
}
